<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav>
  <a routerLink="/orders">Orders</a>
  <a routerLink="/orders/create" *ngIf="hasRole('Sales') || hasRole('Admin')">Create Order</a>
  <a routerLink="/products" *ngIf="hasRole('Admin') || hasRole('InventoryManager')">Products</a>
  <a routerLink="/audit-logs" *ngIf="hasRole('Admin') || hasRole('Auditor')">Audit Logs</a>
  <a (click)="logout()" style="cursor:pointer">Logout</a>
</nav>
<router-outlet></router-outlet>
